<head>     
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>AddressBook</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<div id="landingPage" class="well">
	<h1>WELCOME TO YOUR ADDRESS BOOK</h1>
	<br><br>
	<h3>Yay! You created a Contact</h3>

	<p>Name: @Model.GetName()</p>
	<p>Phone Number: @Model.GetPhoneNumber()</p>
	<p>House Number: @Model.GetAddress().GetHouseNumber()</p>
	<p>Street: @Model.GetAddress().GetStreetAddress()</p>
	<p>City: @Model.GetAddress().GetCity()</p>
	<p>State: @Model.GetAddress().GetState()</p>
	<p>PinCode: @Model.GetAddress().GetPinCode()</p>
	<p>Country: @Model.GetAddress().GetCountry()</p>


	<h2><a href="/">View All Contacts</a></h2>
</div>
<style>
	#landingPage
	{
		background-color: #FFFFCC;
		padding-left: 100px;		
		width: 50%;
		height: 100%;
	}
	form
	{
		font-size: 20px;
	}
	li
	{
	font-size: 16px;
	}
</style>